.container {
    width: 1200px;
    margin: 0 auto;
}

.container-movie {
    width: 950px;
    margin: 100px auto 0 auto;
}

.search-box {
    width: 100%;
    margin-top: 51px;
    min-width: 1200px;
    background: #47464a;
    padding-bottom: 60px;
    margin-bottom: -60px;
}

.search-box form{
    width: 630px;
    margin: 0 auto;
    padding-top: 38px;
    padding-bottom: 8px;
    position: relative;
}

.search-box .kw {
    box-sizing: border-box;
    line-height: 18px;
    width: 630px;
    padding: 15px 20px 15px 20px;
    border: 1px solid #999999;
    border-radius: 50px;
    background: white;

}

.search-box .submit {
    position: absolute;
    box-sizing: border-box;
    border: none;
    left: auto;
    top: 51px;
    right: 12px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.container-movie ul {
    margin: 0 0 20px 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.container-movie li {
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 11px;
    padding-top: 11px;
    cursor: pointer;
}

.movie-poster {
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 1px;
    margin-bottom: -1px;
    display: inline;
}

.movie-nameAndDescription {
    float: right;
    margin-right: 615px;
    padding-left: 8px;
    border-left: 1px solid #e5e5e5;
    height: 165px;
}

.movie-name {
    width: 180px;
    margin-top: 10px;
    font-size: 26px;
    color: #333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0px 0px 0px 7px;
    margin-bottom: -1px;
    border-bottom: 1px solid #e5e5e5;
}

.movie-description {
    font-size: 16px;
    color: #999999;
    padding: 8px 0px 0px 7px;
}

.word {
    font-size: 16px;
    color: #666666;
}

.pager2 {
    margin-top: 80px;
    text-align: center;
}