/*this are the public styles which exists in every file with .jsp*/
body, textarea, select, input {
    font-family: "Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    font-size: 14px;
    line-height: 21px;
    color: #343d42;
    outline: none;
    border: 0;
    background-color: #9d9d9d;
}
fieldset, img, html, body, iframe
{
    border: 0;
}
a {
    color: #859295;
    text-decoration: none;
}
a, button, .nav {
    cursor: pointer;
}
.jumbotron
{
    margin-top: 30px;
}
.jumbotron .form-control
{
    height: 50px;
    width: 850px;
    margin: 0 0 0 28%;
}
.jumbotron .btn-success
{
    padding: 12px 16px 13px 16px;
    margin: -50px 99% -40px 1100px;
}
.jumbotron .searchInput
{
    text-align: center;
    margin-top: 10%;
}

.row {
    margin: 0 1%;
}

.row .col-lg-4 {
    width:250px;
    height:250px;
    overflow: hidden;
}

.row .col-lg-4 .intro {
    text-overflow: ellipsis;
}

.row .col-lg-4 p {
    margin: 0 auto 100px auto;
}

.row .col-lg-4 .btn {
    position: absolute;
    bottom: -1px;
    right: 33%;
}

#nav-search {
    margin-right: 50px;
}

#search_text {
    width: 200px;
}

.contact-container {
    background-color: white;
}

.bottom{
    background-color: #0f0f0f;
    color: #f5f5f5;
    margin-top: 80px;
}

.contact-h2{
    font-size: 18px;
}

.bottom {
    font-size: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.bottom p {
    padding: 0;
    margin: 0;
}

.content {
    margin-top: 51px;
}